/* Center align content in the App */
.App {
  text-align: center;
  position: relative; /* Ensure relative positioning for nested elements */
}

/* Logo styling */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Logo spinning animation */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styling */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; /* Ensure relative positioning */
}

/* Link styling */
.App-link {
  color: #61dafb;
}

/* Logo spinning animation keyframes */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style the face box */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8; /* Adjust the z-index to be under the webcam */
}
